.cardHeaderContainer{
    display: grid;
    grid-template-columns: auto 25%;
    justify-content: center;
    align-items: center;
}
.cardHeaderTitle{
    grid-column: 1;
}
.cardHeaderExitButton{
    grid-column: 2;
    margin: auto;
}
.postCommentsContainer{
    width: 100%;
}
.postCommentsHeader{
    display: grid;
    width: 100%;
    grid-template-columns: auto 25%;
    align-items: center;
}
.postCommentsTitle{
    padding-left: 3%;
    grid-column: 1;
    text-align: left;
}
.postCommentsExpandButton{
    grid-column: 2;
}
.addCommentContainer{
    display: grid;
    width: 100%;
    grid-template-columns: auto 20%;
    align-items: center;
}
