.App {
  text-align: center;
  width: 100%;
  background-color: #E5E5E5;
}


.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}
.App-nav{
  width: 15%;
  max-width: 15vw;
}
.App-title{
  width: 70%;
}
.listItem{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sign-in-form{
  width: 80%;
}
.sign-in-body{
  margin-top: 2em;
}
.main-card{
  height: 50%;
  width: 80%;
  margin: auto;
  margin-top: 10%;
}
.addPostButton{
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 5%;
  border-radius: 50%;
  min-height: 10vh;
  min-width: 10vh;
}
.btn.disabled{
  pointer-events: auto !important;
}
.Sidebar{
  background-color: white;
  font-size: 130em;
}